svg.railroad-diagram { background-color: transparent; }
svg.railroad-diagram path { stroke-width: 2; stroke: currentColor; fill: none; }
svg.railroad-diagram text { font: 14px monospace; fill: currentColor; text-anchor: middle; }
svg.railroad-diagram text.label { font: 12px sans-serif; text-anchor: start; }
svg.railroad-diagram text.comment { font: 12px monospace; }
svg.railroad-diagram rect { stroke-width: 2; stroke: currentColor; fill: transparent; }

#rrdiagram {
    overflow-x: auto;
    max-width: 100%;
}